page-login {
    .title{
        text-align: center;
    }
    .photo{
        width: 60%;
        height: 60%;
        margin-bottom: -20px;
        margin-top: 30px;
      }
    .redondo{
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
}
