<ion-header>
    <ion-navbar color="primary">
      <ion-buttons left>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-searchbar>
    </ion-searchbar>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h3 clas="title">PRODUCTOS</h3>
    <ion-card>
      <ion-list>
        <ion-item *ngIf="products.length == 0">
          No hay productos agregados
        </ion-item>
        <ion-item *ngFor="let product of products">
          <ion-thumbnail item-left>
            <img [src]="product.image">
          </ion-thumbnail>
          <h2>{{product.name}}</h2>
          <button ion-button clear color="danger" item-right (click)="delete( product )">
            Eliminar
          </button>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-content>
